.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 3em;
    background: #00171F;
    box-shadow: -0.5px -0.5px 10px black;
    border-top: 2.8px solid #00a6e8eb;
}

.footer_container{
    display: flex;
    width: 90%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.footer_container p{
    color: #E3F2FD;
    font-size: 14px;
}

.footer_container p img{
    width: 16px;
    height: 16px;
}