.desktopMenu{
    width: 100%;
    height: 52px;
    display: flex;
    justify-content: center;
    background: linear-gradient(90deg, hsla(202, 27%, 45%, 1) 0%, hsla(213, 77%, 14%, 1) 100%);
    box-shadow: 1px 1px 10px black;
    position: fixed;
    top:0px;
    border-bottom: 2px solid #00A8E8;
}
.desktopMenu_ul{
    width: 70%;
    max-width: 1240px;
    display: flex;
    justify-content: flex-end;
    list-style: none;
    align-items: center;
}
.desktopMenu_li{
    color:#E3F2FD;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    margin: 0 20px 0 20px;
    cursor: pointer;
    padding-bottom: 0px;
    font-size: 18px;
    
}


.desktopMenu_li a{
    text-decoration: none;
    color:#E3F2FD;
    font-family: 'Archivo Narrow', sans-serif;
    font-weight: bold;
}

.desktopMenu_li::after{
    content: '';
    background-color: transparent;
    height: 2px;
    width: 1px;
    transition: all 1s ease-in-out;
}

.desktopMenu_li:hover::after{
    /*border-bottom: 1px solid green;*/
    background-color: white;
    transition: all 1s ease-in-out;
    width: 100%;

}

/*.desktopMenu_li:hover{
    border-bottom: 1px solid gray;
    box-shadow: 2px 2px 1px black;
    border-radius: 10px;
    transform-origin: initial;
    border-top:1px solid #E3F2FD;
    background-color:linear-gradient(#1976D2,#1565C0);
    transform: translate3d(-4px,0,0);
    padding: 3px 8px 3px 8px;
    background-color: rgba(000, 000, 000, 0.1);
} */

.nav_menu{
    display:none;
    height: 40px;
    width: 40px;
    align-self: center;
    justify-self: center;
}


@media(max-width:760px){
    .desktopMenu_li{
        display: none;
    }
    .desktopMenu_ul{
        width: 1%;
        justify-content: flex-end;
    }
    .nav_menu{
        display: flex;
        justify-content: flex-end;
    
        margin-right: 10px;
        width: 100%; 
    }
    .nav_menu img:active{
        height: 38px;
        width: 38px;
    }
}