
.main_projects{
    width: 100%;
    background: linear-gradient(90deg, hsla(213, 77%, 14%, 1) 0%, hsla(202, 27%, 45%, 1) 100%);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    grid-column: span 12 ;
    padding: 4rem;
}

.container3{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 2rem;
}





@media(max-height:740px){
    .main_projects{
        height: auto;
        grid-column: span 12;
    }
}

