.menuContainer_mobile{
    width: 100%;
    background-color: rgba(000, 000, 000, 0.9);
    filter: blur(0.9);
    color: azure;
    height: 90vh;
    position: absolute;
    right: 0px;
    top:54px;
    font-size: 20px;
    display: none;
    z-index: 2;
    animation: slide-in;
    animation-duration: 1s;
    height: 92vh;
}

.mobileUl {
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
    align-items: center;   
}

.mobileLi{
    width: 100%;
    height: auto;
    display: flex;
    
}

.mobileLi a{
    display: flex;
    color: white;
    text-decoration: none;
    border-bottom: none;
    width: 100%;
    height: 30.5vh;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid wheat;
}
.mobileLi:hover{
    filter: brightness(1.5px);
}


.mobileLi{
    display: flex;
    justify-content: center;
    text-decoration: none;
    list-style: none;

    width: 100%;
  
}

@keyframes slide-in {
    from{
        margin-top: 100vh;
    }
    to{
        margin-top: 0vh;
    }
}


@media(max-width:760px){
    .menuContainer_mobile{
        display: flex;
    }
}