.skillsTarjet_container{
    background-color: rgba(000, 000, 000, 0.8);
    border-radius: 1rem;
    border-left: 1rem solid #00A8E8;
    border-right: 1rem solid #00A8E8;
    display: grid;
    padding: 2rem;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 100%;
    row-gap: 1rem;
}



@media(max-width:880px){

    .skillsTarjet_container{
        height: auto;
        width: auto;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
       
    }
}


@media(max-width:450px){
    .skillsTarjet_container{
        height: auto;
        width: auto;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        gap:2rem;
    }

}

@media(max-width:340px){
    
    .skillsTarjet_container{
        height: auto;
        width: auto;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        gap:2rem;
    }
    
}