.container_tarjetProfile{
    width: 486px;
    height: 300px;
    background:rgba(000, 000, 000, 0.1); 
    margin: 0 40px;
    /* position: absolute; */
    transition: 1000ms;
    transform: rotate3d(42, 20, 10, -30deg);
    box-shadow: -3.5px 3px 4px 0px #0d47a1 ;
    align-self: center;
    justify-self: center;
}

.container_tarjetProfile:hover{
    filter: brightness(1.1);
    transform: none;
}

.tarjetProfile{
    background: linear-gradient(45deg, #0d47a1, rgba(000, 000, 000, 0.0));
    width: 90%;
    height: 86%;
    margin: 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* box-shadow: -0.5px -0.5px 10px black; */
    box-shadow: -3.5px 3px 4px 0px black;
    position: relative;
    top:15px;
    color:white;
    
}

.tarjetProfile_text{
    width: 250px;
    margin-left: 5px;
}

.tarjetProfile_title{
    margin-left: 5px ;
    font-size: 40px;
}

.tarjetProfile_subtitle2{
    font-size: 32px;
    color:#64b5f6 ;
    font-weight: bold;
    text-shadow: 1px 0px 10px rgba(000, 000, 000, 0.4);
}

.tarjetProfile_img{
    background: transparent;
    width: 274px;
    height: 274px;
    position: relative;
    top:-40px;
    right:-14px;
    border-radius:100%;
    
}





@media(max-width:600px){
    .tarjetProfile_title{
        font-size: 30px;
        
    }
    
    .tarjetProfile_subtitle2{
        font-size: 22px;
    }
    
    
    
    .container_tarjetProfile{
        width: 280px;
        height: 260px;; 
        margin: 0 0;
        /* position: absolute; */
    }
 
    .tarjetProfile_img{
        width: 164px;
        height: 164px;
        right: -8px;
    }

}



@media(max-width:340px){
    .container_tarjetProfile{
        width: 200px;
        height: 300px;; 
        margin: 0 0;
        /* position: absolute; */
    }

    .tarjetProfile{
        flex-direction: column-reverse;
    }

    .tarjetProfile_img{
        width: 144px;
        height: 142px;
        top: -10px;
        right: 0;
    }

    .tarjetProfile_text{
       width: 100%;
        
    }
    
    .tarjetProfile_subtitle2{
        font-size: 22px;
    }


    .skillsTarjet_container{
        height: auto;
        width: 260px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }
    
}


