.tecnologies_item{
    display: flex;
    justify-content: center;
    height: auto;
    /* width: auto; */
    border: 1px solid white;
    border-radius: 10px;
    margin: 3px;
}
.tecnologies_item p{
    width: auto;
    margin: 0 5px;
}
