.textContainer{
    display: flex;
    flex-direction: column;
    color:white;
    width: 100%;
    height: auto;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 1px 1px 4px black;
    background-color: rgba(000, 000, 000, 0.8);
    border-left: 1rem solid #00A8E8; ;
    border-right: 1rem solid #00A8E8;
}

.textContainer p{
    font-size: 1.8em;
    font-family: 'Yanone Kaffeesatz', sans-serif
}

.textContainer p:nth-child(2){
    margin-top: 30px;
}

@media(max-width:768px){
    .textContainer{
        width: 80%;
    }
}

@media(max-width:576px){
    .textContainer p {
        font-size: 1.2em;
    }
}