.textContainer{
    align-self: center;
    justify-self: center;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    color:#E3F2FD;
    width: 30%;
    height: auto;
    background: linear-gradient(22deg, #003459, #00A8E8 );
    padding: 20px 20px 20px 20px;
    border-radius: 10px 10px 0px 0px;
    border-bottom:10px rgba(000,000,000,0.6) solid ; 
    border-right:10px rgba(000,000,000,0.2)  solid ; 
    box-shadow: 1px 1px 4px black;
    padding: 34px;
    text-align: left;

}

.textContainer p{
    font-size: 1.8em;
    font-family: 'Yanone Kaffeesatz', sans-serif
}

.textContainer p:nth-child(2){
    margin-top: 30px;
}

@media(max-width:768px){
    .textContainer{
        width: 80%;
    }
}

@media(max-width:576px){
    .textContainer p {
        font-size: 1.2em;
    }
}