@import url(https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Archivo+Narrow&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@300;400&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Comfortaa&family=Yanone+Kaffeesatz:wght@300;400&display=swap);
*{
    margin:0;
    
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Fjalla One', sans-serif; */
    /*font-family: 'Archivo Narrow', sans-serif; */
    /*font-family: 'Yanone Kaffeesatz', sans-serif;*/
    font-family: 'Comfortaa', cursive;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    /* font-family: 'Permanent Marker', cursive; */
    scrollbar-width: 50px;
    letter-spacing:0.05em;
}



body::-webkit-scrollbar{
    width: 10px;
    background:transparent;
    background: #E3F2FD;
}

body::-webkit-scrollbar-thumb{
    background: #0d47a1;
}





.container_tarjetProfile{
    width: 486px;
    height: 300px;
    background: #00171F; 
    margin: 0 40px;
    /* position: absolute; */
    box-shadow: -3.5px 3px 4px 0px #00A8E8 ;
    align-self: center;
    justify-self: center;
    border-radius: 10px;
    
}

.container_tarjetProfile:hover{
    filter: brightness(1.1);
    transform: none;
}

.tarjetProfile{
    /* background: #003459;
    background: linear-gradient(25deg, #00171F,#003459,#00171F,#003459, #00171F); */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    /* box-shadow: -3.5px 3px 4px 0px black; */
    color:white;
    border-radius: 10px;
    padding: 2em;
    font-size: 1rem;
}

.tarjetProfile_text{
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 1rem;
    grid-column: span 2 ;
}

.tarjetProfile_title{
    font-size: 6em;
}
.tarjetProfile_subtitlte{
    font-size: 3.5em;
    margin-bottom: 0.5em;
    line-height: 1.2em;
}

.tarjetProfile_subtitle2{
    font-size: 5.5em;
    margin-bottom: 0.5em;
    color:#00A8E8 ;
    font-weight: bold;
    text-shadow: 1px 0px 10px rgba(000, 000, 000, 0.4);
}

.tarjetProfile_img{
    background: rgba(240, 249, 250, 0.74);
    backdrop-filter: blur(17.1px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    -webkit-backdrop-filter: blur(17.1px);
    width: 31em;
    height: 31em;
    border-radius:100%;
    object-fit: cover;
    mask-image: linear-gradient(white 60%, transparent);
    
}

.seeMore_text {
    font-size: 1.6em;
    font-weight: bold;
    animation: pulse ease-in-out infinite 2s; 
    color: white;
}

@keyframes pulse {
    0%, 100% {
        opacity: 1; /* Comienza y termina completamente visible */
        transform: scale(1); /* Tamaño original */
    }
    50% {
        opacity: 0.2; /* Un poco transparente en el medio */
        transform: scale(1.1); /* Aumenta el tamaño en el medio */
    }
}



@media(max-width:1098px){
  .tarjetProfile{
      font-size: 12px;
  }
  .tarjetProfile_text{
    font-size: 12px;
  }
}

@media(max-width:830px){
    .tarjetProfile{
        font-size: 9px;
    }
    .tarjetProfile_text{
        font-size: 9px;
      }
  }

  @media(max-width:614px){
    .tarjetProfile{
        font-size: 6.5px;
    }
    .tarjetProfile_title{
        font-size: 7em;
        margin-left: 0;
    }
    .tarjetProfile_subtitlte{
        font-size: 4em;
        margin: 0.5em 0;
    }
    .tarjetProfile_subtitle2{
        font-size: 5.5em;
    }
    .tarjetProfile_text{
        font-size: 7.5px;
      }
  }
  



  @media(max-width:482px){
    .tarjetProfile{
        font-size: 5.5px;
        flex-flow: column-reverse;
    }
    .tarjetProfile_text{
        font-size: 6.5px;
      }
  }  

@media(max-width:360px){

    .tarjetProfile{
        font-size: 4.9px;

    }
    .tarjetProfile_title{
        font-size: 7em;
        margin-left: 0;
    }
    .tarjetProfile_subtitlte{
        font-size: 4em;
        margin: 0.5em 0;
    }
    .tarjetProfile_subtitle2{
        font-size: 5.5em;
    }
    .tarjetProfile_text{
        font-size: 5.7px;
    }
    .tarjetProfile_img{
        width: 40em;
        height: 40em;
        right: 0;
    }
    .skillsTarjet_container{
        height: auto;
        width: 260px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }
    
}



.main_tarjet{
    margin-top:30px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(90deg, hsla(213, 77%, 14%, 1) 0%, hsla(202, 27%, 45%, 1) 100%);
    padding: 4rem;
    grid-column: span 12 ;
}

.container{
    width: 100%;


    display: flex;
    justify-content: space-around;
    /* align-items: center; */
    flex-direction: column;
    flex-wrap: wrap;
    
}


.container_buttons{
    display: flex;
    width: 24%;
    justify-content:space-around;
    align-self: center;
    
}



@media(max-width:880px){
    .main_tarjet{
        height: 100vh;
    }
    .container{
        margin: 30px 0 30px 0;
    }



    .container_buttons{
        margin: 30px 0px 30px 0;
    }
}

@media(max-width:600px){

    .container_buttons{
        width: 40%;
    }

}


.skillsTarjet_container{
    background-color: rgba(000, 000, 000, 0.8);
    border-radius: 1rem;
    border-left: 1rem solid #00A8E8;
    border-right: 1rem solid #00A8E8;
    display: grid;
    padding: 2rem;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 100%;
    row-gap: 1rem;
}



@media(max-width:880px){

    .skillsTarjet_container{
        height: auto;
        width: 370px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }

}


@media(max-width:450px){
    .skillsTarjet_container{
        height: auto;
        width: 300px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }

}

@media(max-width:340px){
    
    .skillsTarjet_container{
        height: auto;
        width: 260px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }
    
}
.skillsTarjet_figure{
    height: 100px;
    width: 100px;
    background: linear-gradient(45deg, #00A8E8, rgba(000, 000, 000, 0.0));
    border-radius: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 40px;
    flex-direction: column;
    color:#E3F2FD;
    border: 2px solid #00A8E8;
    border-right: 2px solid rgba(000, 000, 000, 0.0);

}
.skillsTarjet_figure img{
    height: 58px;
    width: 58px;
    
}

.skillsTarjet_figure img:hover{
    transform: scale3d(1.1,1.1,1.1);
}
.skillsTarjet_figure:hover{
    filter: brightness(1.2);
}

@media(max-width:450px){

    .skillsTarjet_figure{
        height: 90px;
        width: 90px;
        margin: 10px 0px 10px 0px;
        flex-direction: column;
        color:#E3F2FD;
        align-self: center;
        justify-self: center;
    
    }
    .skillsTarjet_figure img{
        height: 44px;
        width: 44px;
        
    }
    .skillsTarjet_figure span{
        font-size: 14px;
    }

}
.textContainer{
    display: flex;
    flex-direction: column;
    color:white;
    width: 100%;
    height: auto;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 1px 1px 4px black;
    background-color: rgba(000, 000, 000, 0.8);
    border-left: 1rem solid #00A8E8; ;
    border-right: 1rem solid #00A8E8;
}

.textContainer p{
    font-size: 1.8em;
    font-family: 'Yanone Kaffeesatz', sans-serif
}

.textContainer p:nth-child(2){
    margin-top: 30px;
}

@media(max-width:768px){
    .textContainer{
        width: 80%;
    }
}

@media(max-width:576px){
    .textContainer p {
        font-size: 1.2em;
    }
}

.main_about{
    width: 100%;
    background: linear-gradient(90deg, hsla(202, 27%, 45%, 1) 0%, hsla(213, 77%, 14%, 1) 100%);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    padding: 4rem;
    grid-column: span 12 ;
}

.container_title{
    display: flex;
    width: 100%;
    color: white;
    font-size: 2em;
    margin-bottom: 2rem;
 }

.container2{
    width: 100%;
    height: 28rem;
    display: grid;
    gap: 3rem;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr ;

}

.containerSkills{
    flex-direction: column;
    width: 100%;
    height: 30rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    transition: 1000ms;
    margin-bottom: 30px;
}

.mainAbout_science_img{
    background: rgba(240, 249, 250, 0.74);
    width: 21em;
    height: 21em;

    border-radius:100%;
    box-shadow: 4.5px 4px 2px 0px whitesmoke ;
    object-fit: cover;
    align-self: center;
    justify-self: center;
}


@media(max-width:880px){

    .containerSkills{
        height: auto;
    }

    .container2{
        height: auto;
        margin: 30px 0 30px 0;
    }
}





.home{
    display: grid;
    grid-template-columns: repeat(12,1fr);
}



.projectImg{
    object-fit: cover;
    width: 100%;
    height: 100%;
    background: #0d47a1;
    animation-name:fade;
    animation-duration: 1s;
    border-radius: 10px;
    animation-name: fade;
    transition-duration: 2s;
    grid-column: 3 / span 4;
}

.projectImg-b{
    object-fit: cover;
    object-position: left;
    width: 100%;
    height:480px;
    align-self: center;
    justify-self: center;
    background: #0d47a1;
    border-radius: 10px;
}

.projectDescription{
    transition-property: background-color, color;
    transition-duration: 500ms;
    transition-timing-function: ease-out;
    border-radius: 10px;
    background-color: rgba(000, 000, 000, 0.8);
    backdrop-filter: blur(10px);
    animation-name: fade;
    transition-duration: 2s;
    border-top: 1rem solid #00A8E8;
    border-bottom: 1rem solid #00A8E8;
    font-family: 'Archivo Narrow', sans-serif;
    grid-column: 1 / span 2;
    height: 30rem;
}
.projectDescription_title{
    align-items: center;
    justify-content: center;
    font-size: 22px;
}

.projectDescription_content {
    display: flex;
    max-height:150px ;
    width: 80%;
    height: auto;
    color: white;
    font-size: 20px;
    line-height: 25px;
    overflow-y: auto;

}
.projectDescription_content::-webkit-scrollbar{
    width: 8px;
    background:transparent;
    background: #E3F2FD;

}
.projectDescription_content::-webkit-scrollbar-thumb{
    background: #0d47a1;
}



.gosth{
    color: white;
}

.gosth{
    display: grid;
    grid-template-rows: 0.5fr 1fr 0.5fr 0.5fr 0.5fr;
    align-items: center;
    justify-items: center;
    height: 30rem;
    width: 100%;
    animation-name: fade;
    transition-duration: 2s;
    grid-column: span 2 ;
    height: 100%;
}



.tecnologies_container{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.tecnologies_item p {
    padding: 0.2em;
}



.buttonsContainer{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.buttonsContainer button{
    margin: 2px 10px 2px 10px;
    font-size: 18px;
    background: linear-gradient(125deg,#90CAF9 ,#00A8E8);
    border: none;
    border-radius: 8px;
    
}

.buttonsContainer button:hover{
   filter: brightness(1.2);
   transition: all 200ms ease-in;
   transform: scale3d(1.1,1.1,1);
}

.buttonsContainer button a{
    text-decoration: none;
    padding: 2px 8px 2px 8px;
    color: white;
}

.projects_buttonsContainer{
    width: 100%;
    display: flex;
    align-items: center;
    align-self: center;
    justify-self: center;
    justify-content: center;
}

.projects_list{
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    height: 100%;

}

.projects_list_li{
    width: 0.7em;
    height: 0.7em;
    border-radius: 50%;
    background: linear-gradient(125deg, rgba(205, 213, 215, 0.613) ,#00A8E8);
    cursor: pointer;
}

.projects_list_li_id{
    width: 0.7em;
    height: 0.7em;
    border-radius: 50%;
    background: white;
    transition: all 500ms;
    cursor: pointer;
    border-bottom: 1px solid #00A8E8;
    border-left: 1 px solid #E3F2FD;
    margin-top: -0.4em;
}

.projects_button{
    width: 1em;
    height: 2em;
    background: linear-gradient(125deg, rgba(205, 213, 215, 0.613) ,#00A8E8);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.3em;
    color: white

}
.projects_button:active{
    transform: scale3d(0.9,0.9,1);
}

@keyframes fade {
    from {
      opacity: 0;
      
    }
    to {
      opacity: 1;
    }
  }


@media(max-width:760px){
    .proyectImg{
        width: 95%;
        height:30em;
    }
    .proyect{
        width: 95%;
        height:auto;
        flex-direction: column;
        align-items: center;
    }

    .proyectDescription{
        width:90%;
        height:30em;
    }
}

@media(max-width:426px){
    .proyectImg{
        width: 100%;
        height:15em;
    }

    .proyectDescription{
        width:100%;
        min-height:20em;
        margin-bottom: 1em;
    }
    .proyectDescription_content{
        min-height: 8em;
        border-bottom: 1px solid wheat;
        overflow-y: scroll;
    }
    .projectsContainer{
        margin-top: 0;
    }
    .projects_buttonsContainer{
        margin: 0 0 0.8em 0;
    }
}


.tecnologies_item{
    display: flex;
    justify-content: center;
    height: auto;
    /* width: auto; */
    border: 1px solid white;
    border-radius: 10px;
    margin: 3px;
    align-self: center;
    justify-self: center;
}
.tecnologies_item p{
    width: auto;
    margin: 0 5px;
}


.main_projects{
    width: 100%;
    background: linear-gradient(90deg, hsla(213, 77%, 14%, 1) 0%, hsla(202, 27%, 45%, 1) 100%);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    grid-column: span 12 ;
    padding: 4rem;
}

.container3{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 2rem;
}





@media(max-height:740px){
    .main_projects{
        height: auto;
        grid-column: span 12;
    }
}


.desktopMenu{
    width: 100%;
    height: 52px;
    display: flex;
    justify-content: center;
    background: linear-gradient(90deg, hsla(202, 27%, 45%, 1) 0%, hsla(213, 77%, 14%, 1) 100%);
    box-shadow: 1px 1px 10px black;
    position: fixed;
    top:0px;
    border-bottom: 2px solid #00A8E8;
}
.desktopMenu_ul{
    width: 70%;
    display: flex;
    justify-content: flex-end;
    list-style: none;
    align-items: center;
}
.desktopMenu_li{
    color:#E3F2FD;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    margin: 0 20px 0 20px;
    cursor: pointer;
    padding-bottom: 0px;
    font-size: 18px;
    
}


.desktopMenu_li a{
    text-decoration: none;
    color:#E3F2FD;
    font-family: 'Archivo Narrow', sans-serif;
    font-weight: bold;
}

.desktopMenu_li::after{
    content: '';
    background-color: transparent;
    height: 2px;
    width: 1px;
    transition: all 1s ease-in-out;
}

.desktopMenu_li:hover::after{
    /*border-bottom: 1px solid green;*/
    background-color: white;
    transition: all 1s ease-in-out;
    width: 100%;

}

/*.desktopMenu_li:hover{
    border-bottom: 1px solid gray;
    box-shadow: 2px 2px 1px black;
    border-radius: 10px;
    transform-origin: initial;
    border-top:1px solid #E3F2FD;
    background-color:linear-gradient(#1976D2,#1565C0);
    transform: translate3d(-4px,0,0);
    padding: 3px 8px 3px 8px;
    background-color: rgba(000, 000, 000, 0.1);
} */

.nav_menu{
    display:none;
    height: 40px;
    width: 40px;
    align-self: center;
    justify-self: center;
}


@media(max-width:760px){
    .desktopMenu_li{
        display: none;
    }
    .desktopMenu_ul{
        width: 1%;
        justify-content: flex-end;
    }
    .nav_menu{
        display: flex;
        justify-content: flex-end;
    
        margin-right: 10px;
        width: 100%; 
    }
    .nav_menu img:active{
        height: 38px;
        width: 38px;
    }
}
.menuContainer_mobile{
    width: 100%;
    background-color: rgba(000, 000, 000, 0.9);
    filter: blur(0.9);
    color: azure;
    height: 90vh;
    position: absolute;
    right: 0px;
    top:54px;
    font-size: 20px;
    display: none;
    z-index: 2;
    animation: slide-in;
    animation-duration: 1s;
    height: 92vh;
}

.mobileUl {
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
    align-items: center;   
}

.mobileLi{
    width: 100%;
    height: auto;
    display: flex;
    
}

.mobileLi a{
    display: flex;
    color: white;
    text-decoration: none;
    border-bottom: none;
    width: 100%;
    height: 30.5vh;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid wheat;
}
.mobileLi:hover{
    filter: brightness(1.5px);
}


.mobileLi{
    display: flex;
    justify-content: center;
    text-decoration: none;
    list-style: none;

    width: 100%;
  
}

@keyframes slide-in {
    from{
        margin-top: 100vh;
    }
    to{
        margin-top: 0vh;
    }
}


@media(max-width:760px){
    .menuContainer_mobile{
        display: flex;
    }
}
a{
    text-decoration: none;
    color: black;
    font-family: 'Archivo Narrow', sans-serif;
}
.container_button{
    width: 48px;
    height: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10%;
    border: none;
    background: transparent;
    font-size: 12px;
    margin-right: 20px;
    color: white;
    cursor: pointer;
}
.container_button:hover{
    filter: brightness(1.3);
}

.container_button img{
    width: 28px;
    height: 28px;
}

@media(max-width:600px){
    .container_buttons{
        width: 40%;
    }
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 3em;
    background: #00171F;
    box-shadow: -0.5px -0.5px 10px black;
    border-top: 2.8px solid #00a6e8eb;
}

.footer_container{
    display: flex;
    width: 90%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.footer_container p{
    color: #E3F2FD;
    font-size: 16px;
}

.footer_container p img{
    width: 16px;
    height: 16px;
}
